body{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

header{
    position: static;
}

main ul {
    width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
}


li:nth-child(4){
    grid-column: 1/ span 3;
}


main li {
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

main li:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background-color: #f5f5f5;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

main li:nth-child(1) img {
    height: 400px;
    object-fit: cover;
}
main li:nth-child(2) img {
    height: 400px;
    object-fit: cover;
}

main li:nth-child(3) img {
    height: 400px;
    object-fit: cover;
}

main li:nth-child(4) img {
    width: 800px;
    height: 400px;
    object-fit: cover;
}
main li:nth-child(5) img {
    width: 400px;
    object-fit: cover;
}
main li:nth-child(6) img {
    width: 400px;
    object-fit: cover;
}
main li:nth-child(7) img {
    width: 400px;
    object-fit: cover;
}



/*main li:nth-child(4) .item-content {
    display: none;
}*/



.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions{
    text-align: right;
}

.actions a{
    text-decoration: none;
    padding: 6px;
    color: lightskyblue;
    border-radius: 5px;
}

.actions a:hover{
    background-color: floralwhite;
}

