@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CWDangamAsac-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LOTTERIADDAG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIADDAG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "HSSaemaul-Regular", sans-serif;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#page-logo a {
    padding: 10px;
    font-family: "EF_jejudoldam", sans-serif;
    color: #FFC627;
    font-size: 50px;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
    display: flex;
}

header li {
    margin-left: 20px;
}

header a {
    color: #FFC627;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    border-radius: 6px;
}

header a:hover {
    color: #feefc6;
}

footer{
    margin-top: 30px;
    background: linear-gradient(70deg, rgb(24,24,24),rgb(25, 29, 29));

}

footer li{
    height: 80px;
    width: 80px;
    margin: 0 50px;
}

footer ul{
    display: flex;
    justify-content: center;
    padding: 36px 0;
}

footer img{
    width: 100%;
    height: 100%;
}